.login{
    min-width: 100vh;
  
  }
.login-form{
  background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.login-form input{
    background-color:rgb(170, 192, 240) ;
    
}
.register{
    min-width: 100vh;
  
  }
.register-form{
  background-color: rgb(233, 233, 233);
border-radius: 5px;
}
.btn-login{
    padding: 3px !important;
    
}

