.registry-form{
    background-color: rgb(233, 233, 233);
  border-radius: 5px;
  }
  .registty{
      width: auto;
      min-height: 600px;
  }
  .btn-registry{
    //   height: 2rem;
    //   width: 6rem;
     
   }