.registry-form{
    background-color: rgb(233, 233, 233);
  border-radius: 5px;
  }
  .registry{
      width: auto;
  
      background-image: url(../../../../assets/images/car-login.jpg);
      background-size: cover;
      background-position: center;
  }
  .btn-registry{
    //   height: 2rem;
    //   width: 6rem;
     
   }